.HeaderMain {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  z-index: 100;
}
.HeaderMain::before {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;

  bottom: 0;
  left: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--CorCinzaPrincipal) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
.ListHeader {
  display: flex;
  gap: 50px;
  color: white;
  z-index: 2;
}
.ListHeader a {
  position: relative;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.ListHeader a:hover::before {
  transform: scaleX(1);
}
.ListHeader a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -2px;
  transform-origin: left;
  background-color: var(--CorAzulPrincipal);
  transform: scaleX(0);
  transition: all 0.4s;
}

.LogoSite {
  color: var(--CorAzulPrincipal);
  font-weight: 300;
  z-index: 2;
  font-size: 20px;
}
.SearchHeader {
  color: white;
  z-index: 2;
}

@media (max-width: 750px) {
  .HeaderMain {
    height: 25px;
  }

  .ListHeader {
    gap: 30px;
  }
  .ListHeader a {
    font-size: 7px;
  }
  .LogoSite {
    font-size: 15px;
  }
  .SearchHeader {
    size: 10px;
  }
}
