.PaginationMain {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.ButtonPagination {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--CorAzulPrincipal);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.ButtonPagination:hover {
  color: var(--CorCinzaPrincipal);
  background-color: var(--CorAzulPrincipal);
}
.Pontos3 {
  color: white;
  font-size: 23px;
}
@media (max-width: 600px) {
  .ButtonPagination {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .PaginationMain {
   
    gap: 10px;
   
  }
  .Pontos3 {
    color: white;
    font-size: 10px;
  }
}
